* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-img {
  position: relative;
  background: url(../images/bg-masthead.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 75vh;
}

.bg-img::before {
  content: "";
  position: absolute;
  background-color: #1c375e;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
}

.input-group {
  width: 42%;
}

.bg-img p {
  top: 29%;
  font-size: 2.6em;
  letter-spacing: 2px;
}

.bg-img .input-group {
  top: 18%;
}

.cards {
  padding: 8em 0;
}

.cards .card .icon {
  font-size: 4.5em;
}

.pictures {
  margin-bottom: 7em;
}

.testimonials {
  margin-bottom: 7em;
}

.contact {
  margin-bottom: 4em;
}

.contact .bg-img {
  height: 40vh;
}

footer p {
  height: 13vh;
  font-size: 0.9em;
  margin-top: -10px;
}
